# OS X
.DS_Store

# Build
Build
build
DerivedData

# Temp
*~.nib
*.swp

# SVN
.svn

# XCode
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3
*.xcuserdatad
xcshareddata/

# CocoaPods
Pods

# Others
.uispec.app

# Xcode
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
.idea/
*.hmap
*.xccheckout

#CocoaPods
Pods